.fragment {
  height: 100%;
  width: 100%;
}
#fragment1 {
  display: flex;
}
#fragment2 {
  display: none;
}
#fragment3 {
  display: none;
}
#fragment4 {
  display: none;
}
#fragment5 {
  display: none;
}
#fragment6 {
  display: none;
}
.layout {
  text-align: center;
  font-family: Muli;
  font-weight: 800;
  justify-content: center;
  align-items: center;
  grid-template-rows: 350px;
}
.layout img {
  max-height: 90%;
  max-width: 90%;
  height: 300px;
  width: 300px;
  border-radius: 100%;
  transition: 0.7s;
}
.layout img:hover {
  border-radius: 0;
}
.layout div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.my-photo {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.my-photo textarea {
  padding: 15px;
  width: 85%;
  resize: none;
  margin: 15px 0 15px 0;
  height: 40%;
  border-radius: 15px;
  font-family: Muli;
  font-weight: 800;
}
.my-photo input {
  font-family: Muli;
  font-weight: 800;
  width: 85%;
  margin: 15px 0 15px 0;
  border-radius: 15px;
  padding: 15px;
}
.my-photo label {
  font-family: Muli;
  font-weight: bold;
  text-align: center;
  font-size: x-large;
}
.upload {
  font-family: Muli;
  font-weight: 800;
  background-color: lightcoral;
  width: 20%;
  height: 7%;
  min-width: 200px;
  min-height: 50px;
}
.upload:hover {
  background-color: #c76565;
}
.cert {
  width: 90%;
  display: flex;
  margin-top: 35px;
  flex-direction: column;
}
.my-cert {
  justify-content: space-evenly;
  align-items: center;
  font-family: Muli;
  font-weight: bold;
  border-bottom: solid 1px black;
  padding-bottom: 10px;
  padding-top: 10px;
  display: flex;
}
.my-cert button {
  width: 50%;
}
.my-photo i {

  cursor: pointer;
  text-align: center;
  font-size: 72px;
}

.social-info {
  font-size: xx-large;
  height: 0;
  padding: 0px;
  border-radius: 25px;
  overflow: hidden;
  transition: 0.5s;
  color: royalblue;
  border: solid 2px orange;
  box-sizing: content-box;
}
.main-pane i:hover .social-info {
  height: 40px;
  padding: 10px;
}
.text{
  display: block !important;
}
.text div{
  display: block !important;
  padding: 15px;
  padding-top: 0px;
  border-bottom: 1px solid black;
  border-top: solid 1px black;
}
.layout .my-profil{
  background-color: lightsalmon;
  font-family: Muli;
  font-weight: 800;
  text-align: center;
}
@media only screen and (max-width: 1150px) 
{
  #fragment4{
  justify-content: center !important;
  }
  .main-pane i{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main-pane i .social-info {
    height: 40px;
    padding: 10px;
  }
}