<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Sitem</title>
    <link href='https://fonts.googleapis.com/css?family=Muli' rel='stylesheet'>
    <link rel="stylesheet" href="css/index.css">
    <link rel='stylesheet' type='text/css' href='css\profil.css'>

    <link rel="stylesheet" href="css/resim_yukle.css">
    <script src="https://kit.fontawesome.com/157dbdbd32.js" crossorigin="anonymous"></script>
    
</head>

<body>
    <%- body %>
    <script src="js/ana.js"></script>
</body>

</html>